section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.producto {
    width: 200px;
    border: 1px solid black;
    padding: 15px;
}

.filaPar {
    background-color: lightblue;
}

.filaImpar {
    background-color: lightsalmon;
}